table{
    margin-left:auto; 
    margin-right:auto;
}

textarea{
	display: block;
 	margin-bottom: 8px;
 	margin-left:auto; 
    margin-right:auto;
    border-radius: 5px;
 }

 button{
 	height: 40px;
 	width: 40px;
	background-color: #2faaf3;
	color: black;
	border: none;
    cursor: pointer;
	border-radius: 5px;
	outline: none;
 }

 button:hover{
	background-color: #09278e;
	transition: 0.1s ease-in-out;
	color: white;
 }